/* Font Link */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* Root */
:root{
    --primary:#e06363;
    --secondary: #1f82bf;
    --tertiary: #f2dd72;
    --quartiary:#f1fff3;

/* #1f82bf #f2dd72 #f56c67 #65c9c1 #f27e7e */

/* Til SoMe */
    --youtube: #ff0000;
    --twitter: #00acee;
    --soundcloud: #ff7700;
}

/* ---------------------------------------- */
/* All-around Kode */
/* ---------------------------------------- */

/* Background! */
html {
    background-color: var(--quartiary);
}

/* Line Heights - Centrering af Tekst */
/* Line Height - Option 1 */
.line-height1 {
    line-height: 2.4;
}
/* Line Height - Option 2 */
.line-height2 {
    line-height: 1.9;
}
/* Line Height - Option 3 */
.line-height3 {
    line-height: 2.2;
}
/* Line Height - Option 4 */
.line-height4 {
    line-height: 1.34;
}
/* Line Height - Option 5 */
.line-height5 {
    line-height: 2.7;
}
/* Line Height for Back and Home Button */
.back-btn,
.home-btn {
    line-height: 4.5;
}
/* Margin for Projects */
.projectmargin {
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-family: 'Space Mono', monospace;
}
/* Top Text for Projects */
.projecttext {
    margin: 40px;
    font-size: 25px;
    font-family: 'Space Mono', monospace;
}
/* Image Width and Space */
.img-width {
    width: 70vw;
    margin-bottom: 1rem;
}
/* Header Grid */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 3.5rem;
}
.cell-header {
    background: var(--primary);
    grid-row: 1;
    grid-column: 1/3;
    font-size: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/* Cell - Basic */
.cell-base {
    color: white;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    font-family: 'Space Mono', monospace;
}
/* Grid */
.grid-container {
    display: grid;
    /* 3 Columns */
    grid-template-columns: 1fr 1fr 1fr;
    /* 6 Rows */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* Mellemrum mellem Cells */
    grid-gap: 25px 25px;
    /* Whitespace omkring boksen */
    margin: 40px;
}
/* Footer */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    bottom: 0;
    padding-top: 2.5rem;
}
.cell-footer {
    background: var(--primary);
    grid-row: 1;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* Button - Base */
.home-btn,
.back-btn {
    background: var(--tertiary);
    height: 68px;
    border-radius: 25px;
    font-size: 15px;
}

/* ---------------------------------------- */
/* Page - Home */
/* ---------------------------------------- */

/* Cell - Headline */
.cell-index-1 {
    background: var(--primary);
    grid-column: 1/4;
    grid-row: 1;
    font-size: 25px;
    height: 68px;
    border-radius: 25px;
    display: table-cell;
    vertical-align: middle;
}
/* Cell - About Me */
.cell-index-2 {
    background: var(--secondary);
    grid-column: 2/4;
    grid-row: 2;
    font-size: 28px;
    height: 68px;
    border-radius: 25px;
}
/* Cell - School Projects */
.cell-index-3 {
    background: var(--secondary);
    grid-column: 1/3;
    grid-row: 4;
    font-size: 28px;
    height: 68px;
    border-radius: 25px;
}
/* Cell - Own Projects */
.cell-index-4 {
    background: var(--secondary);
    grid-column: 2/4;
    grid-row: 6;
    font-size: 28px;
    height: 68px;
    border-radius: 25px;
}
/* Cell - Blanks */
.cell-index-5,
.cell-index-6,
.cell-index-7,
.cell-index-8,
.cell-index-9,
.cell-index-10,
.cell-index-11,
.cell-index-12,
.cell-index-13 {
    background: var(--tertiary);
    height: 68px;
    border-radius: 50px;
}

/* ---------------------------------------- */
/* Page - About Me */
/* ---------------------------------------- */

/* Grid */
.grid-container-aboutme {
    display: grid;
    /* 3 Columns */
    grid-template-columns: 1fr 1fr 1fr;
    /* 4 Rows */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* Mellemrum mellem Cells */
    grid-gap: 25px 25px;
    /* Whitespace omkring boksen */
    margin: 40px;
}
/* Main Button Properties */
.cell-aboutme-1,
.cell-aboutme-2,
.cell-aboutme-3 {
    height: 68px;
    border-radius: 25px;
    font-size: 43px;
}
/* Placering + Color */
.cell-aboutme-1 {
    grid-column: 1/4;
    grid-row: 1;
    background: var(--youtube);
}
.cell-aboutme-2 {
    grid-column: 1/4;
    grid-row: 2;
    background: var(--twitter);
}
.cell-aboutme-3 {
    grid-column: 1/4;
    grid-row: 3;
    background: var(--soundcloud);
}
.cell-aboutme-4 {
    grid-column: 1/1;
    grid-row: 4;
}

/* ---------------------------------------- */
/* Page - School Projects - Semester Select */
/* ---------------------------------------- */

/* Cell - Base */
.cell-school-1,
.cell-school-2,
.cell-school-3,
.cell-school-4 {
    background: var(--secondary);
    height: 68px;
    border-radius: 25px;
    font-size: 35px;
}
/* Placering */
.cell-school-1 {
    grid-column: 1/4;
    grid-row: 1;
}
.cell-school-2 {
    grid-column: 1/4;
    grid-row: 2;
}
.cell-school-3 {
    grid-column: 1/4;
    grid-row: 3;
}
.cell-school-4 {
    grid-column: 1/4;
    grid-row: 4;
}
.cell-school-5 {
    grid-column: 1;
    grid-row: 6;
}

/* ---------------------------------------- */
/* Page - 1. Semester - Project Select*/
/* ---------------------------------------- */

/* Main Button Properties */
.cell-s1-1,
.cell-s1-2,
.cell-s1-3,
.cell-s1-4 {
    background: var(--secondary);
    height: 68px;
    border-radius: 25px;
    font-size: 25px;
}
/* Placering */
.cell-s1-1 {
    grid-column: 1/4;
    grid-row: 1;
}
.cell-s1-2 {
    grid-column: 1/4;
    grid-row: 2;
}
.cell-s1-3 {
    grid-column: 1/4;
    grid-row: 3;
}
.cell-s1-4 {
    grid-column: 1/4;
    grid-row: 4;
}
.cell-s1-5 {
    grid-column: 1;
    grid-row: 6;
}
.cell-s1-6 {
    grid-column: 3;
    grid-row: 6;
}

/* ---------------------------------------- */
/* Page - Rumrejse - Project */
/* ---------------------------------------- */

/* Grid */
.grid-container-s1space {
    display: grid;
    /* 3 Columns */
    grid-template-columns: 1fr 1fr 1fr;
    /* 2 Rows */
    grid-template-rows: 1fr 1fr;
    /* Mellemrum mellem Cells */
    grid-gap: 25px 25px;
    /* Whitespace omkring boksen */
    margin: 40px;
}
/* Main Button Properties */
.cell-s1space-1 {
    background: var(--secondary);
    height: 68px;
    border-radius: 25px;
    font-size: 30px;
}
/* Placering */
.cell-s1space-1 {
    grid-column: 1/4;
    grid-row: 1;
}
.cell-s1space-2 {
    grid-column: 1/1;
    grid-row: 2;
}
.cell-s1space-3 {
    grid-column: 3/4;
    grid-row: 2;
}

/* ---------------------------------------- */
/* Page - Dance - Project */
/* ---------------------------------------- */

/* Grid */
.grid-container-s1dance {
    display: grid;
    /* 3 Columns */
    grid-template-columns: 1fr 1fr 1fr;
    /* 3 Rows */
    grid-template-rows: 1fr 1fr 1fr;
    /* Mellemrum mellem Cells */
    grid-gap: 25px 25px;
    /* Whitespace omkring boksen */
    margin: 40px;
}
/* Main Button Properties */
.cell-s1dance-1,
.cell-s1dance-2 {
    background: var(--secondary);
    height: 68px;
    border-radius: 25px;
    font-size: 30px;
}
/* Placering */
.cell-s1dance-1 {
    grid-column: 1/4;
    grid-row: 1;
}
.cell-s1dance-2 {
    grid-column: 1/4;
    grid-row: 2;
}
.cell-s1dance-3 {
    grid-column: 1/2;
    grid-row: 3;
}
.cell-s1dance-4 {
    grid-column: 3/4;
    grid-row: 3;
}

/* ---------------------------------------- */
/* Page - Video - Project */
/* ---------------------------------------- */

/* Grid */
.grid-container-s1video {
    display: grid;
    /* 3 Columns */
    grid-template-columns: 1fr 1fr 1fr;
    /* 2 Rows */
    grid-template-rows: 1fr 1fr;
    /* Mellemrum mellem Cells */
    grid-gap: 25px 25px;
    /* Whitespace omkring boksen */
    margin: 40px;
}
/* Main Button Properties */
.cell-s1video-1 {
    background: var(--secondary);
    height: 68px;
    border-radius: 25px;
    font-size: 30px;
}
/* Placering */
.cell-s1video-1 {
    grid-column: 1/4;
    grid-row: 1;
}
.cell-s1video-2 {
    grid-column: 1/1;
    grid-row: 2;
}
.cell-s1video-3 {
    grid-column: 3/4;
    grid-row: 2;
}

/* ---------------------------------------- */
/* Page - Bag Rattet */
/* ---------------------------------------- */

/* Grid */
.grid-container-s1car {
    display: grid;
    /* 3 Columns */
    grid-template-columns: 1fr 1fr 1fr;
    /* 3 Rows */
    grid-template-rows: 1fr 1fr 1fr;
    /* Mellemrum mellem Cells */
    grid-gap: 25px 25px;
    /* Whitespace omkring boksen */
    margin: 40px;
}
/* Main Button Properties */
.cell-s1car-1,
.cell-s1car-2 {
    background: var(--secondary);
    height: 68px;
    border-radius: 25px;
    font-size: 30px;
}
/* Placering */
.cell-s1car-1 {
    grid-column: 1/4;
    grid-row: 1;
}
.cell-s1car-2 {
    grid-column: 1/4;
    grid-row: 2;
}
.cell-s1car-3 {
    grid-column: 1/2;
    grid-row: 3;
}
.cell-s1car-4 {
    grid-column: 3/4;
    grid-row: 3;
}

/* ---------------------------------------- */
/* Page - Own Projects - Selector */
/* ---------------------------------------- */

/* Grid */
.grid-container-own {
    display: grid;
    /* 3 Columns */
    grid-template-columns: 1fr 1fr 1fr;
    /* Mellemrum mellem Cells */
    grid-gap: 25px 25px;
    /* Whitespace omkring boksen */
    margin: 40px;
}
.cell-own-1 {
    grid-column: 1/2;
    grid-row: 1;
}
.img-center {
    display: inline-block;
    text-align: center;
}

/* ---------------------------------------- */
/* Media Queries */
/* ---------------------------------------- */


/* Media 376px og større - Breddere end iPhone X */

@media screen and (min-width: 376px) {

    /* Grid Containers Centering og Properties */
    .grid-container,
    .grid-container-aboutme,
    .grid-container-own,
    .grid-container-s1car,
    .grid-container-s1dance,
    .grid-container-s1space,
    .grid-container-s1video {
        width: 254px;
        margin-left: 42.7vw;
        margin-right: 42.7vw;
        min-width: 300px;
        max-width: 300px;
    }
    .grid-container,
    .grid-container-aboutme {
        height: 458px;
    }

    /* Header height */
    .header {
        padding-bottom: 2rem;
    }

    /* Footer height */
    .footer {
        padding-top: 1.5rem;
    }
}

/* Media for 1920px og større (Desktop) */

@media screen and (min-width: 1920px) {

    /* Whitespace mellem top/header og "Skærmen" */
    .header {
        padding-bottom: 10rem;
    }

    /* Billedstørrelse (istedet for Bredde, ændres de her til Højde) */
    .img-width {
        height: 40vw;
        width: auto;
    }
}